.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20;
  border-bottom: 1px solid black;
  height: 50px;
}

.counter{
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  padding: 20;
}

.counterButton{
  cursor: pointer;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}